  
<div class="row footer" >

    <div class="col-lg-3 col-md-12 col1 info">
        <i class="bi bi-geo-alt-fill info"></i>
        <p class="texto info ">Praça Divino Espírito Santo, 06<br>Centro, Lamim - MG<br>36455-000</p>
    </div>
    <div class="col-lg-3 col-md-12 col1 info">
        <i class="bi bi-geo-alt-fill info"></i>
        <p class="texto info">Praça Divino Espírito Santo, 06<br>Centro, Lamim - MG<br>36455-000</p>
    </div>

    <div class="col-lg-3 col-md-12 col3 info">
        <p class="texto info" style="font-size: 25px;"><i class="bi bi-wechat"></i></p>

        <a class="info" href="https://www.instagram.com/prefeitura.lamim?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <i class="bi bi-facebook icone "></i>
        </a>

        <a class="info" href="https://www.instagram.com/prefeitura.lamim?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <i class="bi bi-whatsapp icone " ></i>
        </a>
        
        <a class="info" href="https://www.instagram.com/prefeitura.lamim?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <i class="bi bi-instagram icone "></i>
        </a>
    </div>

    <div class="col-lg-3 col-md-12 col3 info">
        <p class="texto info" style="font-size: 25px;"><i class="bi bi-building-check"></i></p>
        <p class="texto info" >Atendimento <br>Das 08:00 às 17:00 horas</p>
        
    </div>

        
</div>
    
  