<app-header></app-header>
<div class="container content">


  <div class="row" style="margin-top: 20px;">
    <div class="col">
        <h1 class="titulo">Prefeito e Vice-prefeito</h1>
    </div>
  </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="card" style="width: 18rem;" >
            <img src="./../../../assets/images/prefeito.jpeg" class="card-img-top" alt="Prefeito da cidade de Lamim">
            <div class="card-body">
              <h5 class="card-title">Waldiney de Souza Campos</h5>
              <p class="card-text">Prefeito do Municipio de Lamim</p>
              <a href="/institucional/prefeito" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>


      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/vice.jpg" class="card-img-top" alt="Vice-prefeito da cidade de Lamim">
            <div class="card-body">
              <h5 class="card-title">Ozorio Magalhães da Silva</h5>
              <p class="card-text">Vice-prefeito do Municipio de Lamim</p>
              <a href="/institucional/viceprefeito" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>
     
    </div>

    <div class="row" style="margin-top: 50px;" >
      <div class="col">
        <h1 class="titulo">Veja Também</h1>
      </div>
    </div>

    <div class="row" style="margin-top: 50px;" >
      
        
        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a routerLink="/">Secretarias</a></h6>
                </div>
              </div>
        </div>
    </div>
  </div>

  <app-footer></app-footer>








