<app-header></app-header>
<div class="container content">

    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h1 class="titulo">Secretarias</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="card" style="width: 18rem;" >
            <img src="./../../../assets/images/rosimeire.jpg" class="card-img-top" alt="Secretária Municipal de saude">
            <div class="card-body">
                <h5 class="card-title">Rosimeire Neiva Nogueira Reis</h5>
                <p class="card-text">Secretária Municipal de Saúde</p>
                <a href="/secretarias/secsaude" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>


      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/ubirajara.jpeg" class="card-img-top" alt="Secretário Municipal de Agricultura e Meio Ambiente">
            <div class="card-body">
                <h5 class="card-title">Ubirajara Geraldo Pedrosa Júnior</h5>
                <p class="card-text">Secretário Municipal de Agricultura e Meio Ambiente</p>
                <a href="/secretarias/secagro" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/rafael.jpg" class="card-img-top" alt="Secretário Municipal de Obras e Infraestrutura">
            <div class="card-body">
                <h5 class="card-title">Rafael Luiz Oliveira Gomes</h5>
                <p class="card-text">Secretário Municipal de Obras e Infraestrutura</p>
                <a href="/secretarias/secobras" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>
     
    </div>


    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <div class="card" style="width: 18rem;" >
                <img src="./../../../assets/images/thiago.jpeg" class="card-img-top" alt="Secretário Municipal de Administração">
                <div class="card-body">
                    <h5 class="card-title">Thiago Gomes de Souza Campos</h5>
                    <p class="card-text">Secretário Municipal de Administração</p>
                    <a href="/secretarias/secadministracao" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
  
  
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/images/nundes.jpeg" class="card-img-top" alt="Secretário Municipal de Cultura, Turismo, Esporte e Lazer">
                <div class="card-body">
                    <h5 class="card-title">Nundes da Silva Souza</h5>
                    <p class="card-text">Secretário Municipal de Cultura, Turismo, Esporte e Lazer</p>
                    <a href="/secretarias/seccultura" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
  
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/images/luiz.jpg" class="card-img-top" alt="Secretário Municipal de Educação">
                <div class="card-body">
                    <h5 class="card-title">Luiz Fernando Veloso Nogueira</h5>
                    <p class="card-text">Secretário Municipal de Educação</p>
                    <a href="/secretarias/seceducacao" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
       
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <div class="card" style="width: 18rem;" >
                <img src="./../../../assets/images/arlindo.png" class="card-img-top" alt="Secretário Municipal de Assistência Social">
                <div class="card-body">
                    <h5 class="card-title">Arlindo Cândido Nogueira</h5>
                    <p class="card-text">Secretário Municipal de Assistência Social</p>
                    <a href="/secretarias/secsocial" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
  
  
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/images/goot.jpeg" class="card-img-top" alt="Chefe de Gabinete">
                <div class="card-body">
                    <h5 class="card-title">Severiano Affonso dos Santos</h5>
                    <p class="card-text">Chefe de Gabinete</p>
                    <a href="/secretarias/chefegabinete" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
       
    </div>

    <div class="row" style="margin-top: 50px;" >
        <div class="col">
          <h1 class="titulo">Veja Também</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 50px; margin-bottom: 50px;" >
       
        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a href="/institucional/prefeito" >Prefeito - Waldiney</a></h6>
                </div>
              </div>
        </div>
        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a href="/institucional/viceprefeito" >Vice-prefeito - Zurico</a></h6>
                </div>
              </div>
        </div>
    </div>
  </div>


  <app-footer></app-footer>