
<app-header></app-header>
<div class="container content">

    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h1 class="titulo">Notícias</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col" style="margin-bottom: 10px;">
        <div class="card" style="width: 25rem;" >
            <img src="/assets/images/noticias/motorista.png" class="card-img-top" alt="Prefeito da cidade de Lamim">
            <div class="card-body">
              <h5 class="card-title">Reunião com Motoristas </h5>
              <p class="card-text"></p>
              <a href="/institucional/prefeito" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>


      <div class="col" style="margin-bottom: 10px;">
        <div class="card" style="width: 25rem;">
            <img src="/assets/images/noticias/sedeaggro.png" class="card-img-top" alt="Vice-prefeito da cidade de Lamim">
            <div class="card-body">
              <h5 class="card-title">Nova sede Secretaria Agricultura / Obras</h5>
              <p class="card-text">Vice-prefeito do Municipio de Lamim</p>
              <a href="/institucional/viceprefeito" class="btn btn-primary lermais">Ler Mais</a>
            </div>
        </div>
      </div>
     
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col" style="margin-bottom: 10px;">
            <div class="card card2"  >
                <img src="/assets/images/noticias/motorista.png" class="card-img-top" alt="Prefeito da cidade de Lamim">
                <div class="card-body">
                    <h5 class="card-title">Waldiney de Souza Campos</h5>
                    <p class="card-text">Prefeito do Municipio de Lamim</p>
                    <a href="/institucional/prefeito" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>
  
  
        <div class="col" style="margin-bottom: 10px;">
            <div class="card card2" >
                <img src="/assets/images/noticias/sedeaggro.png" class="card-img-top" alt="Vice-prefeito da cidade de Lamim">
                <div class="card-body">
                    <h5 class="card-title">Ozorio Magalhães da Silva</h5>
                    <p class="card-text">Vice-prefeito do Municipio de Lamim</p>
                    <a href="/institucional/viceprefeito" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>

        <div class="col" style="margin-bottom: 10px;">
            <div class="card card2" >
                <img src="/assets/images/noticias/sedeaggro.png" class="card-img-top" alt="Vice-prefeito da cidade de Lamim">
                <div class="card-body">
                    <h5 class="card-title">Ozorio Magalhães da Silva</h5>
                    <p class="card-text">Vice-prefeito do Municipio de Lamim</p>
                    <a href="/institucional/viceprefeito" class="btn btn-primary lermais">Ler Mais</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h1 class="titulo">Acesso Rápido</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col" style="margin-bottom: 10px;">
            <button class="acessorapido">
                <a href="" class="link">
                    <i class="bi bi-chat-dots-fill"> </i>
                    Ouvidoria
                </a>
            </button>
        </div>

        <div class="col" style="margin-bottom: 10px;">
            <button class="acessorapido">
                <a href="" class="link">
                    <i class="bi bi-info-circle-fill"></i>
                    Acesso à Informação
                </a>
            </button>
        </div>

        <div class="col" style="margin-bottom: 10px;">
            <button class="acessorapido">
                <a href="" class="link">
                    <i class="bi bi-lightbulb-fill"></i>
                    Iluminação Pública
                </a>
            </button>
        </div>

        <div class="col" style="margin-bottom: 10px;">
            <button class="acessorapido">
                <a href="" class="link">
                    <i class="bi bi-shield-exclamation"></i>
                    Defesa Civil
                </a>
            </button>
        </div>
    </div>


    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h1 class="titulo">Agenda de Eventos</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col" style="margin-bottom: 10px;">
          <div class="card" style="width: 25rem;" >
              <img src="/assets/images/noticias/motorista.png" class="card-img-top" alt="Prefeito da cidade de Lamim">
              <div class="card-body">
                <h5 class="card-title">Carnaval</h5>
                <p class="card-text"></p>
                <a href="/institucional/prefeito" class="btn btn-primary lermais">Ler Mais</a>
              </div>
          </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col" style="margin-bottom: 10px;">
            <h1 class="titulo">Licitações</h1>
        </div>


        <div class="col" style="margin-bottom: 10px;">
            <h1 class="titulo">Diário Oficial</h1>
        </div>



    </div>


</div>

<app-footer></app-footer>

