<app-header></app-header>
<div class="container content">
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <h1>Rafael Luiz Oliveira Gomes</h1>
            <h2>Secretário Municipal de Obras e Infraestrutura</h2>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 col-12">
        <div>
            <img src="./../../../assets/images/rafael.jpg" class="card-img-top imagem" alt="Secretário Municipal de Obras e Infraestrutura">
        </div>
        
      </div>

      <div class="col-md-6 col-12">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue consectetur eros at hendrerit.
                Phasellus sed ornare metus. Sed aliquam commodo tellus eget accumsan. Cras tincidunt maximus pretium.
                Nam placerat turpis sit amet orci congue congue. Donec pharetra, mauris non vulputate semper, magna leo
                convallis neque, vel lacinia felis magna in neque. Morbi sit amet elit convallis, tristique dolor quis,
                maximus orci. Morbi vestibulum erat vitae velit finibus rutrum. Vivamus vel velit in urna interdum auctor
                ac et metus. Sed eget metus vitae purus faucibus sollicitudin vitae luctus dolor.
    
                Vestibulum a est vitae eros ornare egestas. Donec turpis sem, posuere iaculis convallis eget, pharetra ac 
                massa. Praesent nec placerat leo, vel aliquam nibh. Nunc risus ligula, pellentesque vitae vulputate et,
                sollicitudin vel magna. Mauris laoreet magna sed sapien imperdiet auctor. Curabitur iaculis ullamcorper odio,
                ut egestas odio aliquet ac. Donec rutrum pulvinar ligula, vitae vehicula nibh molestie eu. Vestibulum feugiat
                vestibulum pharetra. Pellentesque sed gravida est. Aliquam eget leo in felis interdum tempor.
            </p>
        </div>
        
      </div>
    </div>

    <div class="row" style="margin-top: 50px;" >
        <div class="col">
          <h1 class="titulo">Veja Também</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;  margin-bottom: 50px;" >
        
        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a href="/institucional/prefeito" >Prefeito - Waldiney</a></h6>
                </div>
              </div>
        </div>
        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a href="/institucional/viceprefeito" >Vice-prefeito - Zurico</a></h6>
                </div>
              </div>
        </div>

        <div class="col-md-4 " style="margin-left: 10px; margin-top: 10px;">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h6><a routerLink="/">Secretarias</a></h6>
                </div>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>